@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.22.3/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.22.3/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';

@import '../../node_modules/@vue-flow/core/dist/style.css';
@import '../../node_modules/@vue-flow/core/dist/theme-default.css';
html,
body,
#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
/* Header Styles */
.header {
    background-color: #ff6029;
    color: #fff;
    padding: 1em;
}
/* Main Container */
.box {
    background-color: #dfdfdf;
    max-width: 900px;
    margin: 2em auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




/* CTA Buttons */
.cta-buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1.5em;
}

.cta-button {
    padding: 0.5em 1em;
    text-decoration: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

.vue-flow {
    position: absolute;
}

/*modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.modal-content {
    position: relative;
    border-radius: 5px;
    width: 50%;
    height: 20%;
    background: rgba(0, 123, 255, 1);
}
.modal-header {

}
.modal-body {
    justify-content: flex-end;
}
/* Centering container for both registration and login */
.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* General body styling */
.full-height {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'JetBrains Mono', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}
/* Container for forms like registration and login */
.form-container {
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 10px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    color: #007BFF;
    margin-bottom: 1rem;
}
.form-group {
    margin-bottom: 1rem;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
/*buttons*/
.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.close-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.primary {
    background-color: #ff6029;
    color: #fff;

}
.secondary {
    background-color: #fff;
    color: #ff6029;
}
/*universal styles*/
.no-margin {
    margin: 0;
}
.text-center {
    text-align: center;
}
.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

